.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: "Avenir Book", sans-serif;
  table-layout: fixed;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

.table th {
  background-color: #f7f7f7;
  font-family: "Avenir Heavy", sans-serif;
  font-size: 20px;
  line-height: 1.75;
  letter-spacing: 0;
  padding: 16px 24px;
  cursor: pointer;
  text-align: left;
}

.table td {
  font-family: "Avenir Book", sans-serif;
  font-size: 20px;
  line-height: 1.75;
  letter-spacing: 0.1px;
  padding: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.table tr:last-child td {
  border-bottom: none;
}

.sort-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding: 12px;
  border-radius: 50%;
  background: #e9e8f7;
  margin-left: 8px;
}

.sort-none {
  background: none;
}

/* Layout 1 */

/* Responsive design for different screen sizes */
@media screen and (max-width: 1200px) {
  .table th,
  .table td {
    font-size: 18px;
  }
}

/* Mobile view for tables with more than 3 columns */
@media screen and (max-width: 768px) {
  .table {
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .table th,
  .table td {
    padding: 8px 16px;
    font-size: 16px;
  }

  /** layout 1 */

  .row-header {
    flex-direction: column;
    display: flex;
    padding: 8px 16px;
  }

  .row-header-text {
    font-size: 14px;
    font-family: "Avenir Heavy", sans-serif;
    line-height: 24px;
    letter-spacing: 0.028px;
    margin: 0;
  }

  .row-container {
    flex-direction: column;
    display: flex;
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5;
  }

  .row-item {
    flex-direction: row;
    display: flex;
  }

  .row-item div {
    flex-direction: row;
    display: flex;
    flex: 1;
  }
  .row-title {
    font-size: 14px;
    font-family: "Avenir Heavy", sans-serif;
    line-height: 24px;
    letter-spacing: 0.028px;
    margin: 0;
  }

  .row-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: 24px;
    letter-spacing: 0.028px;
    margin: 0;
  }

  .row-container:last-child {
    border-bottom: none;
  }

  /* .layout-1.table th,
  .table td {
    flex-direction: column;
    display: flex;
    padding: 8px 16px;
  } */
}
